<!DOCTYPE html>
<html>

<head>
  <title>Monster Slayer</title>
  <script src="./vue.js"></script>
  <link rel="stylesheet" href="css/foundation.min.css">
  <link rel="stylesheet" href="css/app.css">
</head>

<body>
  <div id="app">
    <section class="row">
      <div class="small-6 columns">
        <h1 class="text-center">YOU</h1>
        <div class="healthbar">
          <div class="healthbar text-center" style="background-color: darkRed; margin: 0; color: gold; font-size: 25px;" :style="{width: playerHealth + '%'}">
            {{playerHealth}}
          </div>
        </div>
        <div class="imageOut" v-if="gameIsRunning">
        <div class="image">
          <img v-bind:src='secondImage'>
        </div>
      </div>
      </div>
      <div class="small-6 columns">
        <h1 class="text-center">MONSTER</h1>
        <div class="healthbar">
          <div class="healthbar text-center" style="background-color: darkRed; margin: 0; color: gold; font-size: 25px;" :style="{width: monsterHealth + '%'}">
            {{monsterHealth}}
          </div>
        </div>
        <div class="imageOut" v-if="gameIsRunning">
        <div class="image">
          <img v-bind:src='monsterImage'>
        </div>
      </div>
      </div>
    </section>
    <!-- Here is where we will use v-if to hide buttons if game is not running -->
    <section class="row controls" style="background-color:yellow;" v-if="!gameIsRunning">
      <div class="small-12 columns" style="background-color:black;">
        <button id="start-game" @click="start">START NEW GAME</button>
      </div>
    </section>
    <section class="row controls" style="background-color:black;" v-else>
      <div class="small-12 columns">
        <button id="attack" @click="attack">ATTACK</button>
        <button id="special-attack" @click="specialAttack">SPECIAL ATTACK</button>
        <button id="heal" @click="heal">HEAL</button>
        <button id="give-up" @click="giveUp">GIVE UP</button>
      </div>
    </section>
    <section class="row log" v-if="turns.length > 0">
      <div class="small-12 columns">
        <ul>
          <li v-for="turn in turns" :class="{'player-turn': turn.isPlayer, 'monster-turn': !turn.isPlayer}">
            {{turn.text}}
          </li>
        </ul>
      </div>
    </section>
  </div>
  <script src="./app.js"></script>
</body>

</html>
